@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "League Spartan";
}
body{
    height: 100vh;
    background-image: url(../Images/bg-pattern-top-desktop.svg) , url(../Images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    
}
main{
    width: 75%;
    height: 75vh;
    align-self: center;
  
}

.upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.upperleft{
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.hh1{
    font-size: 53px;
    color: hsl(300, 43%, 22%);
}
.p1{
    color: hsl(303, 10%, 53%);
    font-size: 19px;
    line-height: 25px;
}
.upper-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.divi{
    display: flex;
    align-items: center;
    padding-left: 30px;
    gap: 20px;
    background-color: hsl(300, 24%, 96%);
    width: 400px;
    height: 60px;
    border-radius: 10px;
}
.divp{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 18px;
}
.div2{
    margin-left: 50px;
}
.div3{
    margin-left: 100px;
}
.lower{
    display: flex;
    justify-content: center;
  
}
.lowerleft{
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    max-width: 300px;
    
    
}
.colton{
    display: flex;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}
